/BraveSoftware
/Code
/Electron
/JetBrains
/QtProject.conf
/Vencord
/aseprite
/autostart
/clipse
/com.modrinth.theseus
/dconf
/discord
/go
/gtk-3.0
/gtk-4.0
/htop
/kwalletrc
/mimeapps.list
/nautilus
/pavucontrol.ini
/pulse
/systemd
/unity3d
/user-dirs.dirs
/user-dirs.locale
/vivaldi
/vlc
/yay
/QtProject
/clangd
/swaync
/ModrinthApp
/Google
/plasma-workspace
/turborepo
/glib-2.0
/menus
/swaync
/neofetch
/neofetch-f
/hydra
/hydralauncher
/CurseForge
/cef_user_data
/Epic
/Unreal Engine
/transmission
/PortProton.conf